In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np

df = pd.read_csv('C:\\dev\\curso_analisis_datos\\data\\salaries_experience.csv')

X = df.iloc[:, :-1]
y = df.iloc[:, -1]

model = LinearRegression()
model.fit(X, y)

df['Salary_preds'] = model.predict(X)
df

    YearsExperience    Salary   Salary_preds
0               1.1   39343.0   36187.158752
1               1.3   46205.0   38077.151217
2               1.5   37731.0   39967.143681
3               2.0   43525.0   44692.124842
4               2.2   39891.0   46582.117306
5               2.9   56642.0   53197.090931
6               3.0   60150.0   54142.087163
7               3.2   54445.0   56032.079627
8               3.2   64445.0   56032.079627
9               3.7   57189.0   60757.060788
10              3.9   63218.0   62647.053252
11              4.0   55794.0   63592.049484
12              4.0   56957.0   63592.049484
13              4.1   57081.0   64537.045717
14              4.5   61111.0   68317.030645
15              4.9   67938.0   72097.015574
16              5.1   66029.0   73987.008038
17              5.3   83088.0   75877.000502
18              5.9   81363.0   81546.977895
19              6.0   93940.0   82491.974127
20              6.8   91738.0   90051.943985
21              7.1   98273.0   92886.932681
22              7.9  101302.0  100446.902538
23              8.2  113812.0  103281.891235
24              8.7  109431.0  108006.872395
25              9.0  105582.0  110841.861092
26              9.5  116969.0  115566.842252
27              9.6  112635.0  116511.838485
28             10.3  122391.0  123126.812110
29             10.5  121872.0  125016.804574